{% extends "user_profile/header.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <center>
        {% for message in messages %}
        <p id="messages"> {{ message }} </p>
        {% endfor %}
    </center>

    <div class="container-fluid" style="margin-top: 10px; background-color: #e3f2fd;">
        <div class="media">
            <img class="rounded-circle account-img resize" src=" {{ user.profile.image.url }} "style="margin: 5px 40px 0px 0px;
            ">
            <div class="media-body">
                <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <p class="text-secondary">{{ user.profile.city }} {{ user.profile.states }} {{ user.profile.country }}</p>
                <p class="text-secondary">{{ user.profile.bio }}</p>
                <a href="/addPost"><button type="submit" class="btn btn-primary">Add Post</button></a>
            </div>
        </div>
    </div>
    <div>
        <h2 class="account-heading">Update Info</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ update_user|crispy }}
                {{ update_profile|crispy }}        
                <br>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
    </div>
{% endblock %}