<!DOCTYPE html>
<html lang="en">

<head>
	<title>Buying N' Selling Website</title>
	<meta charset="utf-8" />
	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/user_profile/css/glyphicon.css">	
	<link rel="stylesheet" type="text/css" href="/static/user_profile/css/bootstrap.css">	
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>
<!-- style="background-color:azure" -->
<body class="body">
	<div class="container-fluid" style="min-height:95%; ">
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
			<a class="navbar-brand" href="/">Buying n' Selling</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item">
				  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/shop">Shop</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/account">Account</a>
				  </li>
				<li class="nav-item">
					<a class="nav-link" href="/cart">Cart</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/register">Register</a>
				</li>
			  </ul>
			  <div class="input-group py-1 px-2 px-md-0">

			  <form role="search" action='/s/'>
				<div class="input-group" style="margin-right: 450px;">
					<input type="text" class="form-control" name="q" placeholder="Search for...">
					<span class="input-group-btn" >
						<button class="btn btn-default" action='/s/' type="submit"><b class="glyphicon glyphicon-search"></b></button>
					</span>
				</div>
			  </form>
			  </div>
			  <span style="margin-right: 5px;">Hello,</span>
			  <span> {{ request.user }}</span>
			  <a class="nav-link" href="/login">Login</a>
			  <a href="/logout">Logout</a>
			</div>
		  </nav>
		  
		<div class='container-fluid'>
			   {% block content %}
			   {% endblock %}	
		</div>
	</div> 

	<center>
		<div>
		<footer>
			<div class="container-fluid" style='margin-left:15px'>
				<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
			</div>
		</footer>
		</div>
	</center>	
	
</body>

</html>