{% extends "user_profile/header.html" %}

{% block content %}
<br>
<div>
    {% for listing in Listings %}
    <div class="container-fluid">
        <div class="card" style="background-color: #e3f2fd;">
            <div class="card-header">
                <h2 class="card-title">{{ listing.title }}</h2>
            </div>
            <div class="card-body">
            <h5>Price: ${{ listing.price }}  </h5>
            <p class="card-text">{{ listing.description }} </p>
            <div class="card-footer">Posted on: {{ listing.date }}
                <button class="btn btn-primary" style="float:right;text-align:right;margin-left: 80px; margin-top: -8px;">Add to Cart</button>
            </div>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
</div>

{% endblock %}